<div class="error_row">
    <div class="status_column">
        <div class="status_icon_error">
            <i class="fa-solid fa-clock"></i>
        </div>
    </div>
    <div class="main_column">
        <a class="error_title" href="/error_47">
            Teste
        </a>
        <p class="error_description">
            SUB PARTIAL Criado por : Luís às 07/01/2026 14:42
        </p>
        <div class="error_tags">
        </div>
    </div>
    <div class="infos_column">
        <div class="infos_column_first_row">
            <span class="error_id">#47</span>
            <div class="date_infos">
                            <span>
                               <i class="fa-solid fa-clock" title="O erro ocorreu nesse horário"></i> 07/01/2026 14:42
                            </span>
                <span>
                                <i class="fa-solid fa-arrows-spin" title="Última edição no erro"></i> 07/01/2026 14:42
                            </span>
            </div>
        </div>
        <div class="infos_columns_files_row" data-id_error="47">
            <i class="fa-solid fa-images"></i> 0 arquivo(s) anexado(s)
        </div>
    </div>
</div>