{{template "partials/header" .}}
{{template "partials/sidebar" .}}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>

<section id="body_wrapper">
    <div id="error_infos">
        <div id="error_infos_title">
            <h3>{{.selected_error.Title}} <span>#{{.selected_error.Id}}</span></h3>
            {{if not .selected_error.Verified}}

            <button><i class="fa-solid fa-check"></i> FINALIZAR</button>
            {{end}}
        </div>
        <div id="error_infos_subtitle">
            <div id="error_infos_status_and_tags">
                <div id="error_infos_status" class="{{if .selected_error.Verified}} verified {{else}} pending {{end}}">
                    {{if .selected_error.Verified}}
                    <i class="fa-regular fa-circle-check"></i>Verificado
                    {{else}}
                    <i class="fa-solid fa-clock"></i> Pendente
                    {{end}}
                </div>
                <div id="error_infos_tags">
                    {{range .selected_error.Tags}}
                    <div class="tag" style="color: {{.Color}}; background: {{.Background}};">
                        {{.Name}}
                    </div>
                    {{end}}
                </div>
            </div>
            <span id="error_infos_date_creation">
                <format-date>{{.selected_error.Created_in.Format "2006-01-02T15:04:05-07:00"}}</format-date>
            </span>
        </div>

    </div>
    <div id="error_comments_part">
        <div id="error_comments">
            {{if .thoughts}}
            {{range .thoughts}}
            <div class="error_comment_parent">
                <div class="error_comment_perfil_image">
                    {{if not .Creator_profile_picture}}
                    <img src="https://api.dicebear.com/9.x/thumbs/svg?seed={{.Creator_name}}&amp;backgroundColor[]&amp;shapeColor=69d2e7,f1f4dc,f88c49"
                        alt="avatar" >
                    {{else}}
                    <img src="./images/uploaded/profile_pictures/user_{{.Creator_id}}/picture.png" alt="avatar">
                    {{end}}
                </div>
                <div class="error_comment">
                    <div class="error_comment_header">
                        <div class="error_comment_header_text">
                            <h5>{{.Creator_name}}</h5>
                            <p><format-date-long>{{.Created_in.Format "2006-01-02T15:04:05-07:00"}}</format-date-long></p>
                        </div>
                        <div class='actions_parents'>
                            <i class="fa-solid fa-pen-to-square"></i>
                            <i class="fa-solid fa-paperclip" title="Arquivos anexados"></i>
                            <i class="fa-solid fa-quote-right quote_comment" title="Responder comentário"
                                data-error_id="{{.Id}}"></i>
                        </div>
                    </div>
                    <div class="error_comment_body">
                        {{.Thought}}
                    </div>
                </div>

            </div>
            <div class="error_comment_splitter"></div>
            {{end}}
            {{end}}
            <!--            <div class="loading_spinner">-->
            <!--                <i class="fa-solid fa-spinner fa-spin-pulse "></i>-->
            <!--            </div>-->
        </div>
        <div id="error_summary_part">
            <div id="error_summary">
                <div id="error_summary_header">
                    <h3>RESUMO</h3>
                </div>
                <div id="error_summary_body">
                   {{if .thoughts}}
            {{range .thoughts}}
            <div class="error_summary_row">
                        <div class="error_summary_row_writer_name">
                            <span>{{.Creator_name}}</span>
                        </div>
                        <div class="error_summary_row_message">
                            <i class="fa-solid fa-turn-up"></i>
                            <div class='message_text'>{{.Thought}} </div>
                        </div>
                        <div class="error_summary_row_date">
                        <format-date>{{.Created_in.Format "2006-01-02T15:04:05-07:00"}}</format-date>
                        </div>
                    </div>
            {{end}}
            {{end}}

                </div>
            </div>
        </div>
    </div>
    <div id="add_comment_part">
        <div id="add_comment_header">
            <div class="error_comment_perfil_image">

            </div>
            <h4>Adicione um comentário</h4>
        </div>
        <div id="editor_father">
            <div id="toolbar">
                <!-- <span style="border-left: none;" class="ql-formats">
                    <select title="Fonte Usada" class="option_class ql-font"></select>
                    <select title="Tamanho Fonte" id="tamanho_fonte" class="option_class ql-size">
                        <option value="normal" selected>Padrão</option>
                        <option value="small">Pequena</option>
                        <option value="large">Grande</option>
                        <option value="huge">Enorme</option>
                    </select>
                </span> -->
                <span class="ql-formats">
                    <button title="Negrito" class="option_class ql-bold"></button>
                    <button title="Itálico" class="option_class ql-italic"></button>
                    <button title="Underline" class="option_class ql-underline"></button>
                    <button title="Riscado" class="option_class ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select title="Cor Texto" class="option_class ql-color"></select>
                    <select title="Cor Grifado" class="option_class ql-background"></select>
                </span>
                <span class="ql-formats">
                    <button title="Sub Texto" class="option_class ql-script" value="sub"></button>
                    <button title="Sob Texto" class="option_class ql-script" value="super"></button>
                </span>
                <span class="ql-formats">
                    <button title="Título" class="option_class ql-header" value="1"></button>
                    <button title="Subtítulo" class="option_class ql-header" value="2"></button>
                    <button title="Bloco de Citação" class="option_class ql-blockquote"></button>
                    <!-- <button  title="Bloco de Citação"  class="option_class ql-code-block"></button> -->
                </span>
                <span class="ql-formats">
                    <button title="Lista Numerada" class="option_class ql-list" value="ordered"></button>
                    <button title="Lista Não Numerada" class="option_class ql-list" value="bullet"></button>
                    <!-- <button title="Remover Espaçamento" class="option_class ql-indent" value="-1"></button> -->
                    <!-- <button title="Adicionar Espaçamento" class="option_class ql-indent" value="+1"></button> -->
                </span>
                <span class="ql-formats">
                    <!-- <button title="Alterar Lado da Escrita" class="option_class ql-direction" value="rtl"></button> -->
                    <select title="Alinhar Texto" class="option_class ql-align"></select>
                </span>
                <span class="ql-formats">
                    <button title="Vincular Link" class="option_class ql-link"></button>
                    <button title="Anexar Arquivo" id="anexar_arquivos_comentario"> <i
                            class="fa-solid fa-paperclip"></i></button>
                    <!-- <button title="Adicionar Imagem" class="option_class ql-image"></button> -->
                    <!-- <button title="Adicionar Link"class="option_class ql-video"></button> -->
                    <!-- <button class="option_class ql-formula"></button> -->
                </span>
                <span class="ql-formats">
                    <button class="option_class " title="Limpar Modificações" class="option_class ql-clean"></button>
                </span>

                <button id="save_comment"><i class="fa-regular fa-floppy-disk"></i> SALVAR</button>
            </div>
            <div id="editor"></div>

        </div>

    </div>
    <script src="./js/errors.js"></script>

</section>