{{template "partials/header" .}}
{{template "partials/sidebar" .}}
<section id="body_wrapper">
    <section id="search_errors_wrapper">
        <div id="search_errors">
            <input placeholder="Pesquisa por erro, tag ou #" type="text" name="search_errors_input"
                id="search_errors_input">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <button id="filter_errors" class="filter_button">
            <i class="fa-solid fa-filter"></i> Filtros
        </button>
        <button id="search" class="ok_button">
            <i class="fa-solid fa-bars-staggered"></i> Pesquisar
        </button>
    </section>
    <section id="table_errors" class="tabela">
        <div class="tabela_header">
            <div class="tabela_counter">
             <i class="fa-solid fa-spinner fa-spin-pulse"></i>
            </div>
            <div class="tabela_buttons">
                <div id="search_creator">
                    <input onenter placeholder="Procurar autor" type="text" name="" id="search_creator_input">
                    <i onclick="filterErrors(lastErrorsRecovered)" class="fa-solid fa-magnifying-glass"></i>
                </div>
              
                <select onchange="filterErrors(lastErrorsRecovered)" name="select_status_filter" id="select_status_filter">
                    <option value="" selected> STATUS</option>
                    <option value="1">VERIFICADO</option>
                    <option value="0">PENDENTE</option>
                </select>
                <select onchange="filterErrors(lastErrorsRecovered)" name="select_tag_filter" id="select_tag_filter" >
                    <option value="" selected> TAG</option>
                </select>
                  <button id="last_edit"  data-value="0"  onclick="BooleanButton(this,'date_order')" class="date_order">
                  <i class="fa-solid fa-arrow-up"></i> Última Alteração
                </button>
                <button id="date_creation"  data-value="0" onclick="BooleanButton(this,'date_order')" class="date_order using">
               <i class="fa-solid fa-arrow-up"></i> Data Criação
                </button>
            </div>
        </div>
        <div class="tabela_body">
           
        </div>

    </section>
</section>
            <script src="./js/home.js"></script>
