#built-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 190px;
}

.built-form-rows {
  gap: 2%;
  display: flex;
  width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  align-items: center;
}

#built-form .input_father_text ,#built-form .input_father_select{
  display: flex;
  flex-direction: column;
  flex: 4;
  height: 3rem;
}

#built-form input[type="text"] {
  height: 1.8rem;
}

#built-form input[type="checkbox"] {
  cursor: pointer;
}